body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
h1 {
  padding: 30px 0;
  color: gold;
  text-align: center;
  font-family: "Merriweather", serif;
  font-weight: bolder;
  font-size: 70px;
}
form {
  margin: 0 auto 20px auto;
  text-align: center;
  
}
.output {
  margin: 0 auto;
  padding-top: 20px;
  max-width: 75%;
  text-align: center;
  border: 3px solid black;
  height: 500px;
}
h2 {
  display: inline;
  font-size: 30px;
}
#currentDayTime {
  font-size: 30px;
}
.degrees {
  font-size: 30px;
}
ul{
  list-style-type: none;
}
h3 a {
  text-decoration: none;
  font-size: 20px;
}

.fa-cloud-sun-rain {
  font-size: 30px;
  color: gold;
  display: inline;
}
.image {
  display: block;
}

#search {
  width: 400px;
}


.col {
  border: 1px solid black;
  margin: 0 10px;
  padding: 20px;
}

span {
  padding-top: 200px;
}
