body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-image: url(/src/images.jpg);
  background-size: cover;
}
h1 {
  padding: 30px 0;
  color: black;
  text-align: center;
  font-family: "Merriweather", serif;
  font-weight: bolder;
}
.header {
  font-size: 100px;
}
form {
  margin: 0 auto 20px auto;
  text-align: center;
  font-size: 30px;
}
.output {
  margin: 0 auto;
  padding-top: 20px;
  max-width: 100%;
  text-align: center;
  border: 3px solid black;
  background: rgba(237, 197, 189, 0.5);
}
a {
  color: black;
  font-weight: bold;
}
h2 {
  display: inline;
  font-size: 50px;
}
#currentDayTime {
  font-size: 40px;
}
#currentCity {
  font-size: 80px;
}
.degrees {
  font-size: 30px;
}
ul {
  list-style-type: none;
  padding: 0;
  font-size: 20px;
}
li {
  font-size: 30px;
}
h3 a {
  text-decoration: none;
  font-size: 20px;
}

.fa-cloud-sun-rain {
  font-size: 30px;
  color: gold;
  display: inline;
}
.image {
  display: block;
}

#search {
  width: 400px;
}

.forecast {
  margin: 100px 10px;
  text-align: center;
  line-height: 6rem;
}

.col {
  border: 1px solid black;
  margin: 0 10px;
  padding: 20px;
}
